<section class="mainCont">
    <h1>Cart</h1>
    <main class="section">
        <div class="card cardFront">
            <img src="https://i.pinimg.com/originals/c0/d1/84/c0d184afe02df1b20aab8ea28011507b.jpg" alt="furniture">
            <div class="text">
                <h2>{{product.title}}</h2>
                <p>Description:</p>
                <strong>{{product.description}}</strong>
                <p>Price: <strong>{{product.price}}</strong> $</p>
                <button type="button" id={{product._id}}> Add to Cart </button>
            </div>
        </div>
    </main>
</section>